<h1 class="p-3 mb-2 bg-secondary text-white text-center" ><%= "ask your question"%></h1>
<form action="/answer" data-turbo="false" class="form-control text-center">
      <input class="text-center" type="text" name="question" placeholder = "what do you mean?" >
      <input class="btn btn-primary text-center" type="submit" value="come on!">
    </form>
